/3rd semester/CSD201/CSD201_Sale_Management_System_HE172114/nbproject/private/
/3rd semester/CSD201/CSD201_Sale_Management_System_HE172114/dist/
/3rd semester/CSD201/CSD201_Sale_Management_System_HE172114/build/